/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2019, 10:43:49 AM
    Author     : duong
*/
/*This css use for all page, include in every head tag of app*/

.price{
    color: #ff3425;
    font-weight: 500;
    font-size: 19px;
}
.prd-container{
    padding: 5px;
}
.prd-container .prd-image{
    padding: 3px;
}
.prd-container .prd-image img{
    width: 100%;
}
