/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2019, 10:43:49 AM
    Author     : duong
*/
/*This css use for all page, include in every head tag of app*/
.blog-des{
    font-size: 15px;
}
.blog-time-til-now{font-size: 13px; color: grey;}
.sticky-top{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 120px;
}
table.blog-tbl-report{margin: auto;}
table.blog-tbl-report td{padding: 2px 15px;}
ul.list{list-style: none;}
ul.list a{text-decoration: none;}
ul.list li{
    border-bottom: 1px solid rgba(19, 80, 132, 0.25882352941176473);
    padding-bottom: 20px;
}
.blog-thumb-container{
    width: 250px;
    height: 140px;
    float: left;
    margin-right: 15px;
}
.blog-thumb-container img{
    width: 100%;
    height: 100%;
}
.homepage-content{
    margin-top: 100px;
    margin-bottom: 70px;
}
.logo {max-width: 20px;}
.r-user-item.cbcontainer,
.r-user-item{
    display: inline-block;
    width: 300px;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}
.ui-autocomplete.atcl-container{
    padding: 5px;
    /*padding-top: 15px;*/
    /*border-radius: 0 0 33px 33px;*/
    border-radius: 0 0 4px 4px;
}
li.ui-menu-item>div.ui-menu-item-wrapper.ui-state-active{
    background: #f3f3f3;
}
.price{
    color: #ff3425;
    font-weight: 500;
    font-size: 19px;
}
.prd-cover{
    padding: 0;
    margin: 0;
}
.prd-container{
    position: relative;
    padding: 5px;
    margin: 10px;
    height: 250px;
    background: #f7f7f7;
}
.prd-container .prd-image{
    text-align: center;
    padding: 3px;
}
.prd-container .prd-image img{
    max-width: 100%;
    height: 165px;
}
.prd-container .tracking-label{
    position: absolute;
    top: 3px; 
    right: 3px;
}
.prd-info{
    position: absolute;
    bottom: 0;
    height: 70px;
}
.prd-info p{
    position: absolute;
    bottom: 0;
}
.thumb{
    width: 100px;
}
.main-container{
    margin-top: 40px;
    padding: 70px 60px 20px;    
}
/*NAV*/
.nav-container{ /*include menu item and search bar*/
    background: rgb(248, 248, 248);
    transition: background .2s linear;
    -webkit-transition: background .2s linear;
}
.nav-search-menu{
    margin-top: 8px;
}
.nav-main-menu{
    border-color: transparent;
    margin-bottom: 0;
}
#nav-search-product{
    border-radius: 33px 0 0 33px;
    z-index: 1000;
    box-shadow: none;
    border-color: #ccc;
    transition: .3s;
}
#nav-search-product:focus{
    border-radius: 4px 0 0 0;
}
#search-product-btn{
    transition: .3s;
    border-radius: 0 33px 33px 0;
}
/*NAV TRANSPARENT*/
div.nav-transparent{
    background: transparent;
}
div.nav-transparent .navbar-nav > li > a,
div.nav-transparent .navbar-brand,
div.nav-transparent .btn-link{
    color: white;
}
div.nav-transparent .navbar-nav > li > a:hover,
div.nav-transparent .btn-link:hover{
    background: white;
    color: #448f37!important;
}
div.nav-transparent .navbar-toggle .icon-bar{
    background: #dedede;
}
.navbar-header{width: 100%;}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  /*background-color: #2196F3;*/
  background-color: #4caf50;
}
input:focus + .slider {
  /*box-shadow: 0 0 1px #2196F3;*/
  box-shadow: 0 0 1px #4caf50;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}


/*SWITCH inside List group item*/
.list-group>.list-group-item>.switch{
    float: right;
    height: 20px;
    width: 40px;
}
.list-group>.list-group-item>.switch>.slider:before{
    height: 12px;
    width: 12px;
}

/*DROPDOWN inside list group*/
.list-group>.list-group-item>select{
    width: auto;
    float: right;
}

/*Homepage background*/
.home-background{
    width: 100%;
    height: 670px;
    position: relative;
}
.home-background::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../images/general/background_low.jpg");
    filter: brightness(0.9);
}

.banner-container{
    position: relative;
    width: 100%;
    top: 30%;
    text-align: center;
}
/*Title*/
.home-background>.banner-container>h1{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 39px; 
    font-weight: bold; 
    line-height: 40px; 
    margin: 0 0 18px; 
    text-shadow: 3px 4px 5px #403a3a;
}
/*Description*/
.home-background>.banner-container>p{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 55px;
    color: #272727;
    font-size: 16px; 
    padding: 10px 20%;
    background: rgba(255, 255, 255, 0.39);
}
/*Link/button*/
.home-background>.banner-container>.button-container{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 200px;
    color: white;
}
.home-background>.banner-container>.button-container>a,
.home-background>.banner-container>.button-container>span{
    border: 3px solid white;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    background: #377868;
    padding: 8px 18px;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: .3s;
    transition: .3s;
    margin: 0 7px;
    border-radius: 33px;
}
.home-background>.banner-container>.button-container>a:hover,
.home-background>.banner-container>.button-container>span:hover{
    background: white;
    color: #343434;
}

/*list support website*/
.list-support-group{
    margin: 20px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: center;
}
.list-support-website{
    margin: 120px 5px;
}
.list-support-group .list-support-item{
    width: 180px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    margin: 30px 50px 30px 50px;
}
.list-support-group .list-support-item img{
    vertical-align: middle;
    max-height: 60px;
    max-width: 180px;
}
.list-support-group .list-support-item img:hover{
    box-shadow: 5px 3px 9px 0px #cecece;
}

/*Footer*/
.footer-info{
    background: #377869;
    padding: 130px 0;
}
.ft-copyright{
    text-align: center;
    letter-spacing: 4px;
    font-weight: bold;
}
.footer-col{
    padding: 20px 30px;
}
.footer-col span{ /*title column*/
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    margin: 0 0 10px;
    position: relative;
    bottom: 20px;
}
.footer-col a,
.footer-col p{
    display: block;
    color: #e4e4e4;
    text-decoration: none;
    margin: 0 0 6px;
}
.footer-col a:hover{
    color: white;
}

/*Login by social*/ 
.login-social-container{
    /*padding-top: 20px;*/
}
.login-social {
    width: 100%;
    padding: 7px 12px;
    border: none;
    margin-bottom: 15px;
    opacity: 0.85;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}
.login-social:hover, .login-social:focus {
    opacity: 1;
    text-decoration: none;
    color: white;
}
.facebook {
    background-color: #3B5998;
    color: white;
}
.twitter {
    background-color: #55ACEE;
    color: white;
}
.google {
    background-color: #dd4b39;
    color: white;
}

/*USE FOR ALL*/
.medium-title{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 9px;
    word-spacing: 20px;
}
.color-bold{
    color: #377868;
}
.color-light{
    color: #458f35;
}
.color-normal{
    color: #428b44;
}
.square{
    border-radius: 0;
}
.circle{
    border-radius: 33px;
}
hr.hr-style{
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-bottom: 1px solid black;
    color: #333;
    text-align: center;
    position: relative;
}
hr.hr-style:after, hr.hr-style:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: transparent;
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    width: 0; height: 0;
}
hr.hr-style:before { 
    border-color: black transparent transparent transparent;
    border-width: 11px 11px 0 11px;
}
.clearfix{
    clear: both;
}
.full-width{
    width: 100%;
}
.card{
    box-shadow: none;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0px 0px 6px 4px rgba(58, 58, 58, 0.33);
}
.reading{
    width: 60%;
    margin: auto;
}





/*CUSTOM CHECKBOX*/
/* Customize the label (the container) */
.cbcontainer {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cbcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cbcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cbcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cbcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cbcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*END CUSTOM CHECKBOX*/

fieldset{
    border: 1px solid gray; padding: 10px;
}
legend{
    width: auto; border: none; padding: 0 5px;
}
.fixed-error-notice{
    position: fixed;
    top: 110px;
    left: 20px;
    z-index: 1;
}


/*SLIDER MULTI*/
.carousel-inner { 
    margin: auto; 
    width: 90%; 
}
.carousel-control { width:  4%; }
.carousel-control.left,
.carousel-control.right {
    background-image:none;
}
.glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    margin-top:-10px;
    margin-left: -10px;
    color: #444;
}
@media (max-width: 767px) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
@media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}
@media (min-width: 992px ) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(16.7%, 0, 0);
        transform: translate3d(16.7%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-16.7%, 0, 0);
        transform: translate3d(-16.7%, 0, 0);
    }
}
.h-slide-thumb{
    height: 250px;
    display: inline-block;
}
/*.h-slide-thumb img{ width: 100%; }*/
.slider-product{
    height: 250px;
    position: relative;
    padding: 7px;
}
.slider-product .prd-info{
    position: absolute;
    bottom: 0;
    background: #efefef;
}
.slider-out-top{
    margin-top: 20px; 
    /*border-top: 1px solid grey;*/
    /*border-bottom: 1px solid grey;*/
    padding: 30px 0;
}