RewriteEngine on
# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [QSA]
#RewriteRule . index.php

# redirect www to non-wwww
#RewriteBase /
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
#end

# khi có www và non www thì session khác nhau, 
# nên nếu đang login ở non-www thì khi vào www sẽ là chưa đăng nhập
# Hiện tại google và fb đều redirect sang www hết
# redirect non-www to wwww
RewriteCond %{HTTP_HOST} ^chartcost.com$ [NC]
RewriteRule (.*) https://www.chartcost.com/$1 [R=301,L] 
#end

# Otherwise forward it to index.php
#RewriteRule . index.php 
